header {
    border: 0px solid #FFF;
    box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 0px 1px 0px rgba(23, 26, 31, 0.07);
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    width: 100%;
    grid-column: 1/-1;
    background-color: var(--primary-color);
}

/* Top Header */
.header-container {
    align-items: center;
    height: 75px;
}

.header-left {
    display: flex;
    align-items: center;
    grid-column: 2/3;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    /* margin-right: 15px; */
    color: white;
}

.logo img {
    width: 100px;
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column: 5/10;
}

.header-center input[type="search"] {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: white;
    color: #333;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 13/14;
}

.header-right a img {
    width: 24px;
    height: 24px;
    color: white;
}

#nav-home {
    grid-column-start: 4;
}

/* Bottom Header */
.navigation-container {
    box-sizing: border-box;
    grid-column: 1/-1;
}

.navigation {
    grid-column: 5 / -4;
    background-color: white;
    text-align: center;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
}

.navigation nav ul {
    list-style: none;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin: 0;
}

.navigation nav ul li {
    border: 3px solid transparent;
    height: 100%;
    transition: border-color 0.3s ease;
}

.navigation nav ul li a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}

.navigation nav ul li:hover{
    border-bottom: 3px solid var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
}

.nav-element{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-active {
    border-bottom: 3px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.nav-active a {
    color: var(--primary-color) !important;
}

@media (max-width: 768px) {
    .header-center input[type="search"] {
        max-width: 250px;
    }

    .navigation nav ul {
        flex-direction: column;
        gap: 15px;
    }
}